# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/

# Logs & Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDE & Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.sublime-project
*.sublime-workspace
.cursor/

# Temporary and cache files
.cache/
.temp/
*.tsbuildinfo

# Tarballs
*.tgz
